.form-register {
  width: 300px;
  margin: 30px auto 0;
  h4 {
    color: green;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
  }
}
.text-center {
  text-align: center;
}
